<h1>Hello World! Home</h1>

<br>

<p> <a href="{{ path('app_blog_index_route') }}">Relative app_blog_index_route </a> </p>
<p> <a href="{{ url('app_blog_index_route') }}">Absalute app_blog_index_route </a> </p>
