{% extends 'BlogBundle:Layout:main_layout.html.twig' %}

{# Title Start #}
{% block title %}BlogHomeTitle{% endblock %}

{# Stylesheet Start #}
{% block stylesheets %}
    <style>
        *{
            color: red;
        }
        ul li a{
            color: blue;
        }
    </style>
{% endblock %}

{# Header Start #}
{% block header %}
    {{ parent() }}

{% endblock %}

{# Body Start #}
{% block body %}
    <h1>Articles Lists </h1>

    {% for article in articles %}
        {{ include('BlogBundle:Layout:article_details.html.twig', {'article': article}) }}
    {% endfor %}
{% endblock %}

{# Javascript Start #}
{% block javascripts %}
    <script>
        // alert('Welcome to Symfony Framework');
    </script>
{% endblock %}